<html lang="en">
<head>

    <title>Create Blog</title>
    <link href="../content/blog.css" rel="stylesheet" />
    <link href="../content/boot.css" rel="stylesheet" />
    <link href="../content/stylesheets.css" rel="stylesheet" />

</head>

<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item " href="/">Home</a>
                <a class="blog-nav-item active" href="content.html">Content</a>
                <a class="blog-nav-item " href="create.html">Create Post</a>

            </nav>
        </div>
    </div>


    <div class="container" ng-controller="CreateController">

        <form class="form-horizontal" ng-submit="newBlogArticle()">
            <fieldset>
                <!-- Form Name -->
                <legend>Content</legend>
            </fieldset>
        </form>

    </div><!-- /.container -->
    <div class="blog-footer">
        <p>Green Giant Graphics AngularJS & Firebase Blog App</p>
    </div>
</body>
</html>